*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #22262a;
  font: 400 15px/22px "Pppins", Arial, Helvetica, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
img {
  max-width: 100%;
}
ul li {
  list-style-type: none;
}
button {
  display: block;
}
