* {
  margin: 0;
}
body {
  background: linear-gradient(48deg, rgb(82, 82, 189), rgb(78, 201, 78));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
    background: rgb(2, 2, 74);
    padding: 0.5vh;
    display: grid;
    grid-template-columns: repeat(10, auto);
}
.grid > div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(182, 166, 166, 0.2);
    border-radius: 0.3vh;
}