.container{
    border: 5px solid brown;
    width: 50%;
    height: 500px;
    position: relative;
    left: 50px;
    top: 20px;
}
.item1{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.item2{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.item3{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 251);
    border-radius: 50%;
    position: sticky;
    top: 30px;
}
.item4{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 242, 0);
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container1{
    max-width: 420px;
    margin: 40px auto;
}
.input-holder, .input{
    width: 100%;
}
.input-holer{
    margin-bottom: 30px;
    position: relative;
}
.input{
    padding: 36px 0 12px 30px;
    border-radius: 10px;
    border: 1px solid violet;
    color: blue;
    font-weight: 700;
    font-size: 18px;
    box-sizing: border-box;
}
.input::placeholder{
    color: black;
}
.label{
    position: absolute;
    top: 10px;
    left: 30px;
}
.button{
    background-color: grey;
    color: green;
    width: 100%;
    border-radius: 10px;
    padding: 15px 0;
    border: none;
}