.lede {
  line-height: 1.6;
  background-color: rgba(255, 20, 147, 0.3);
  background-image: url("assets/swirl.jpg");
}
.call-out {
  background-color: greenyellow;
}
article {
  border: 2px solid lightgrey;
  color: indigo;
  font-family: "Heebo", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.2;
  text-decoration: none;
  text-align: justify;
  text-transform: uppercase;
  letter-spacing: -1px;
  word-spacing: 10px;
}
