body {
  font-family: "Work Sans", sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px;
}
.header {
  background-color: #f3c6bd;
  padding: 30px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > div:first-child {
  margin-right: 15px;
}
.header__nav {
  display: flex;
  align-items: center;
}

.logo-bold {
  color: #2b292d;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo-regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}
.header-li {
  display: inline-block;
}
.header-li > a {
  color: #2b292d;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}
.header-li > a:hover {
  font-weight: 700;
}
.header-li:not(:last-child) {
  margin-right: 20px;
}
.header-nav > div {
  margin-left: 75px;
}
.button {
  border: none;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  padding: 17px 26px;
  border-radius: 2px;
  cursor: pointer;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #3040c4;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}
.button:hover {
  background-color: #fff;
  color: #3040c4;
  transition: all 0.3s;
}
