/* body {
  background-color: #dddfc2;
}
div {
  color: yellow;
}
.parent {
  color: red;
  border: 1px solid green;
}
#id-block {
  background-color: rgb(236, 193, 236);
}
.block {
  background: url("../laptop.jpg");
}
.block {
  color: red;
}
.block1,
.block2,
.block3 {
  color: red;
}
div.blue-block {
  color: blue;
}
div .blue-block {
  color: blue;
}
div .orange {
  color: orange;
}
.parent-1 > .child-1 {
  color: orange;
} */
/* h1 {
  color: blue;
}
.block {
  color: aqua;
}
#block {
  color: blanchedalmond;
}
h1 {
  color: brown !important;
} */
/* h1.block{
  color:chocolate;
} */
/*card*/
/* .user-card__image {
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50%;
}
user-card__desc--color-green {
  color: green;
} */
/* .block {
  width: 80px;
  height: 80px;
  background-color: #333;
}
.title {
  color: #b2e98d;
  font-family: serif;
  font-size: 16px;
  line-height: 22px;
}
.text {
  font-size: 16px;
  line-height: 18px;
  font-style: italic;
  font-weight: 600;
}
.line {
  height: 2px;
  width: 100%;
}
.text-2 {
  text-align: right;
  text-decoration: underline wavy;
  text-shadow: 2px 2px 5px #000;
}
hr {
  height: 2px;
  color: blue;
}
.text-3 {
  text-transform: uppercase;
}
.text-4 {
  text-transform: capitalize;
}
.text-5 {
  text-indent: 50px;
  letter-spacing: normal;
}
.text-6 {
  word-spacing: 20px;
}
/* .text-7 {
  white-space: pre;
} */
/*px, em.rem,%, vh,vw, vmax, vmin*/
.units {
  display: flex;
  font-size: 50px;
  gap: 50px;
}
.units__col {
  flex: 0 1 50%;
}
.units__col h2 {
  text-align: center;
}

.units__item {
  font-size: 30px;
  background-color: rgb(224, 224, 224);
  margin-bottom: 5px;
  padding-left: 20px;
}
.line {
  height: 2px;
  background-color: #333;
  margin: 50px 0;
}
h3 {
  margin-bottom: 50px;
}

.em__square,
.vhw__square,
.vminmax__square {
  width: 500px;
  height: 500px;
  background-color: #333;
}

.parent-square {
  background-color: green;
}

.parent-square__child {
  background-color: #333;
}

/* -------------------------------------------- */
/* .em {
  font-size: 20px;
} */
.em__title-1 {
  /* (16px * 1.5) */
  font-size: 1.5em;
}

.em__square {
  width: 31.2em;
  height: 31.2em;
}

.em-2 {
  /* (16px * 1.5) */
  font-size: 1.5em;
}

.em-2__child {
  /* (24px * 1.5) */
  font-size: 1.5em;
}

.em-2__title-1 {
  /* (36px * 1.5) */
  font-size: 1.5em;
}

/* .em-3 {
  font-size: 1.5em;
}

.rem {
  font-size: 1.5rem;
} */

/* % ширины */
/* % высоты */
/* % позишна */
/* % марджинов и паддингов */
/* % транслейта */
/* % фонтсайза и лайнхата */

/* .parent-square {
  width: 700px;
  height: 700px;
 position: relative; 
} */

/* .parent-square__child {
  width: 50%;
  height: 50%;
  /* position: absolute;
  top: 0%;
  left: 0%; */
/* margin-top: 0%;
  padding-top: 0%;
  transform: translatey(0%); */
/* color: #fff;
  font-size: 200%;
  line-height: 200%; */
/* }  */

/* .precent {
  font-size: 150%;
}

.vhw__title-1 {
  font-size: 3vw;
}

.vhw__title-2 {
  font-size: 3vh;
} */

/* .vhw__square {
  width: 50vw;
  height: 50vh;
}

.vminmax__title-1 {
  font-size: 3vmin;
} */

/* .vminmax__title-2 {
  font-size: 3vmax;
} */

/* .vminmax__square {
  width: 50vmin;
  height: 50vmax;
} */
/*font*/
/* .greet__title {
  font-size: 5rem;
  margin-bottom: 50px;
} */
/* .greet__text {
  font-size: 2rem;
  line-height: 150%;
  margin-bottom: 50px;
}  */

/* ----------------------------------------- */

/* @font-face {
  font-family: "Antipasto Pro";
  font-weight: 400;
  font-style: normal;
  src: local("Antipasto Pro Regular"), local("AntipastoPro-Regular"),
    url("../fonts/AntipastoPro-Regular.woff2") format("woff2"),
    url("../fonts/AntipastoPro-Regular.woff") format("woff"),
    url("../fonts/AntipastoPro-Regular.eot") format("eot");
  font-display: swap;
}
@font-face {
  font-family: "Antipasto Pro";
  font-weight: 800;
  font-style: normal;
  src: local("Antipasto Pro Extra Bold"), local("AntipastoPro-ExtraBold"),
    url("../fonts/AntipastoPro-ExtraBold.woff2") format("woff2"),
    url("../fonts/AntipastoPro-ExtraBold.woff") format("woff"),
    url("../fonts/AntipastoPro-ExtraBold.eot") format("eot");
  font-display: swap;
} */

/* .greet__text-1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
} */

/* .greet__text-1 {
  font-family: "Antipasto Pro", sans-serif;
  font-weight: 800;
} */
/* .block,
.inline {
  font-size: 2rem;
}

.line {
  background-color: #333;
  height: 5px;
  margin: 50px 0;
} */

/* ---------------------------------------- */

/* .content-1__block {
  box-sizing: border-box;
  background-color: rgb(190, 160, 160);
  padding: 50px 150px 100px 10px;
  /* padding: 50px 100px 150px; */
/* margin: 50px 50px 100px 50px; */
/* } */

/* ERROR */
.content-1__inline {
  /* padding: 50px; */
  margin: 50px;
}

.content-1__image {
  /* padding: 50px;
  width: 300px; */
  margin: 50px;
}

/* .content-2__block-wrapper {
  background-color: #999;
  padding: 50px 50px 0;
} */

/* .content-2__block {
  background-color: rgb(190, 160, 160);
  margin-bottom: 50px;
} */

.content-3__block {
  width: 400px;
  height: 200px;
  /* min-width: 300px;
  max-width: 700px; */
  /* min-height: 150px;
  max-height: 250px; */
  background-color: rgb(182, 213, 233);
  overflow: hidden;
  /* display: inline; */
}

.content-3__block-2 {
  width: 300px;
  height: 300px;
  background-color: #333;
  display: inline-block;
}

.content-3__inline {
  /* width: 500px;
  height: 500px; */
  min-width: 300px;
  max-width: 700px;
  display: block;
}

.content-3__image {
  /* min-width: 400px; */
  max-width: 200px;
  /* width: 500px;
  height: auto; */
  display: block;
}

.content-4__block {
  margin: 50px;
  /* border: 1px solid #000; */
  /* border-width: 5px;
  border-style: solid;
  border-color: #000; */
  /* border-top: 1px solid #000;
  border-bottom: 1px solid #000; */
  /* border-right: 5px solid rgb(235, 103, 103);
  border-top: 5px solid rgb(115, 241, 201); */
  border: 10px solid #000;
  border-style: dotted;
  box-shadow: 14px 20px 20px #9c9c9c, -14px -20px 20px #be3e3e;
  /* box-shadow: 0 0 0 5px rgb(255, 0, 0), 0 0 0 10px rgb(255, 251, 2), 0 0 0 15px rgb(2, 48, 255); */

  opacity: 0.5;
}

.content-4__inline {
  box-shadow: 7px 11px 19px #000;
  /* opacity: 0; */
  visibility: hidden;
}

.content-4__image {
  opacity: 0.5;
}
/*background*/
.wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}

.block {
  height: 100%;
  box-shadow: 0 0 10px rgb(83, 83, 83);
  border-radius: 5px;
}

/* -------------------------------------------------------- */

.block {
  /* background: rgb(125, 200, 103); */
  /* background: linear-gradient(#7dc867, #cf5e5e 20%, #7dc867 70%); */
  /* background: radial-gradient(#7dc867, #cf5e5e); */
  background: url("../images/dog.jpg") 0 0 / auto no-repeat,
    url("../images/laptop.jpg") 0% 0 / auto 300px no-repeat,
    url("../images/laptop.jpg") 20% 0 / auto 300px no-repeat, #333;

  /* background-color: #fff; */
  /* background-image: url(); */
  /* background-repeat: space; */
  /* background-position: x y; */
  /* background-attachment: scroll; */
  /* background-size: auto; */
}
.wrapper {
  padding: 100px 15px;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  border: 10px solid #999;
  display: flex;
}

.block {
  height: 300px;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.842);
}

.red {
  background-color: rgb(235, 118, 118);
}
.blue {
  background-color: rgb(80, 91, 235);
}
.orange {
  background-color: rgb(224, 158, 59);
}
.green {
  background-color: rgb(113, 212, 113);
}
.purple {
  background-color: rgb(205, 148, 231);
}

/* ------------------------------------------------------ */

.blue {
  /* position: relative;
  top: 100px;
  left: 100px;
  z-index: -1; */
  position: sticky;
  top: 10px;
}

/* .container {
  position: relative;
} */

.orange {
  /* position: absolute;
  top: 300px;
  left: 80%; */
  position: sticky;
  top: 50px;
}

.red {
  /* position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1; */
  position: sticky;
  top: 100px;
}

.green {
  position: sticky;
  top: 0;
}
/*transform*/
/* body {
  background-color: #333;
  color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

.line {
  background-color: #fff;
  height: 2px;
} */

/* .translate,
.rotate,
.scale,
.skew {
  padding: 100px 0;
}

h2 {
  font-family: sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 100px;
} */

/* .translate__blocks,
.rotate__blocks,
.scale__blocks,
.skew__blocks {
  display: flex;
  justify-content: center;
}

.red,
.blue {
  width: 300px;
  height: 300px;
} */

/* .red {
  background-color: rgba(240, 82, 82, 0.699);
}

.blue {
  background-color: rgba(102, 102, 228, 0.671);
} */

/* ------------------------------------------------------- */

/* .translate__red {
  transform: translate(0px, -100px);
} */
/* .translate__blue {
  transform: translateY(20px);
}

.rotate__red {
  transform: rotatex(970deg);
}
.rotate__blue {
  transform: rotate(0deg);
  transform-origin: 0px 0px;
} */

/* .scale__red {
  transform: scale(0.8);
}
.scale__blue {
  transform: scaleX(2);
}

.skew__red {
  transform: skew(70deg, 151deg);
} */
/*transition*/
body {
  background-color: #333;
  color: #fff;
}

.container {
  padding: 100px 100px 50vh;
  height: 100%;
}

.transition {
  height: 100%;
}

.button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: sans-serif;
  background-color: #555;
}

.block {
  width: 10px;
  height: 150px;
}

.red {
  background-color: rgb(221, 108, 108);
}
.blue {
  background-color: rgb(116, 108, 221);
}
.orange {
  background-color: rgb(221, 163, 108);
}
.purple {
  background-color: rgb(166, 108, 221);
}

.transition:hover .block {
  width: 100%;
}

/* ----------------------------------------------------- */

.button {
  /* transition: border-radius 3s, background-color 3s 3s; */

  transition-duration: 3s, 3s;
  transition-property: border-radius, background-color;
  transition-delay: 0s, 3s;
  /* transition-timing-function: ; */
}

.button:hover {
  background-color: rgb(108, 158, 106);
  border-radius: 100px;
}

.block {
  transition: 1s;
}

.red {
  transition-timing-function: ease;
}
.blue {
  transition-timing-function: ease-in;
}
.orange {
  transition-timing-function: ease-out;
}
.purple {
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
/*animation*/
body {
  background-color: #333;
}

.wrapper {
  padding: 50px;
  height: 100%;
}

.container {
  position: relative;
  height: 200px;
  background-color: #444;
}

.block {
  background-color: #fff;
  height: 200px;
  width: 200px;
  position: absolute;
}

/* ------------------------------------------------------- */

.block {
  animation: move-block 3s infinite alternate 1s, color-block 1s 3s forwards;

  /* animation-name: move-block, color-block; */
  /* animation-duration: ; */
  /* animation-timing-function: ; */
  /* animation-iteration-count: ; */
  /* animation-direction: ; */
  /* animation-delay: ; */
  /* animation-fill-mode: forwards; */
}

/* .block:hover {
  animation-name: none; */
/* animation-play-state: paused;
}  */

/* @keyframes move-block {
  0% {
    left: 0;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    left: calc(100% - 200px);
  }
} */
/* @keyframes color-block {
  100% {
    background-color: rgb(230, 112, 112);
  }
} */
/*flexbox*/
body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
}

.wrapper {
  padding: 50px;
  height: 100%;
}

.flexbox {
  border: 20px solid rgb(231, 203, 172);
  margin-bottom: 20px;
}

.flexbox__item {
  border: 20px solid rgb(143, 119, 91);
}

.flexbox__item-content {
  background-color: rgb(83, 64, 44);
  text-align: center;
  padding: 50px;
  font-size: 3rem;
}

/* .flexbox__item:nth-child(2) .flexbox__item-content {
  padding: 75px 50px;
} */

.desc {
  display: flex;
}

.desc__item {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.desc__color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #fff;
}

.desc__color--f {
  background-color: rgb(231, 203, 172);
}
.desc__color--i {
  background-color: rgb(143, 119, 91);
}
.desc__color--c {
  background-color: rgb(83, 64, 44);
}

/* --------------------------------------------------------- */

.flexbox {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* flex-wrap: wrap-reverse; */
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
}

.flexbox__item {
  /* flex-basis: 300px; */
  width: 300px;
}

/* .flexbox__item:first-child {
  /* order: 3;
  align-self: end; */
/* } */
*/ .flexbox__item:nth-child(2) {
  /* order: 2; */
  /* flex: 1 0 300px; */
  width: 100%;
}

/* .flexbox__item:last-child {
  /* order: 1;
  align-self: center; */
/* } */
*/
/*grid*/
body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
}

.wrapper {
  padding: 50px;
  min-height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  margin-bottom: 200px;
  padding-bottom: 200px;
  border-bottom: 10px solid #363636;
  min-height: 100vh;
}

.item {
  border: 5px dashed #444;
  font-size: 40px;
  padding: 0.8em;
  text-align: center;
}

/* -------------------------------------------------------- */

.grid-1 {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto; */
  grid-template: repeat(2, 300px) / repeat(3, 1fr);

  justify-items: end;
  align-items: end;
}

.grid-1__item--1 {
  order: 1;
}
.grid-1__item--2 {
  order: 2;
}
.grid-1__item--3 {
  order: 5;
}
.grid-1__item--4 {
  order: 4;
  justify-self: stretch;
  align-self: center;
}
.grid-1__item--5 {
  order: 3;
}
.grid-1__item--6 {
  order: 6;
}

/* ------------------ */

.grid-2 {
  display: grid;
  grid-template:
    "header header" 1fr
    "main aside" 5fr
    "footer footer" 2fr
    / 1fr 300px;
}

.grid-2__item--header {
  grid-area: header;
}
.grid-2__item--main {
  grid-area: main;
}
.grid-2__item--aside {
  grid-area: aside;
}
.grid-2__item--footer {
  grid-area: footer;
}

/* --------------------- */

.grid-3 {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  /* grid-auto-rows: 400px; */
  /* grid-auto-columns: 300px; */
  grid-auto-flow: dense;
}

.grid-3__item--6 {
  grid-column: span 2;
}
/* ---------------------- */

.grid-4 {
  display: grid;
  grid-template:
    [row1] 1fr [row2] 1fr [row3]
    / [col1] 1fr [col2] 1fr [col3] 1fr [col4];
  grid-gap: 20% 10%;
}

.grid-4__item--3 {
  grid-row: row2 / row3;
  grid-column: col3 / col4;
}
/*psevdoklass*/
body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

.wrapper {
  padding: 50px;
  min-height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.link {
  display: block;
  background-color: #555;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.input {
  display: block;
  width: 100%;
  padding: 2em;
  margin-bottom: 100px;
  font-size: inherit;
}

.button {
  display: block;
  background-color: #555;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
  font-size: inherit;
  color: inherit;
  margin-bottom: 100px;
  width: 100%;
}

/* -------------------------------------------------------- */

.link:visited {
  background-color: rgb(121, 117, 175);
}

.link {
  transition: all 0.3s;
}

.link:hover {
  background-color: rgb(189, 129, 129);
}

.link:active {
  background-color: rgb(131, 189, 129);
}

:focus {
  box-shadow: 0 0 30px 10px rgb(139, 139, 139);
}

.link:focus {
  box-shadow: 0 0 30px 10px rgb(138, 202, 141);
}

.list__item:hover {
  background-color: rgb(111, 104, 214);
}
.button:hover {
  background-color: red;
}

.button:focus {
  box-shadow: 0 0 30px 10px rgb(212, 133, 133);
}

.list {
  margin-bottom: 50px;
}

.list__item:first-child {
  color: rgb(211, 112, 112);
}
.list__item:last-child {
  color: rgb(103, 223, 113);
}
.list__item:nth-child(odd) {
  color: rgb(223, 161, 103);
}
.list__item:nth-child(2n) {
  color: rgb(175, 103, 223);
}

.block__item:nth-child(2) {
  color: rgb(127, 204, 103);
}
/*psevdoelem*/
body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
  font-size: 2rem;
}

.wrapper {
  padding: 50px;
  min-height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.link,
.list,
.block {
  margin-bottom: 100px;
}

.block {
  background-color: rgb(199, 105, 105);
  width: 100%;
  height: 200px;
  max-width: 200px;
  border-radius: 1rem;
}

.link {
  align-self: flex-start;
  background-color: rgb(111, 105, 199);
  border-radius: 1rem;
  padding: 2rem;
  display: inline-flex;
  align-items: center;
}

/* ---------------------------------------------------- */

.block-wrapper {
  position: relative;
}

.block-wrapper::before {
  content: "before";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 105, 105);
  width: 100%;
  height: 200px;
  max-width: 200px;
  border-radius: 1rem;
}
.block-wrapper::after {
  content: "after";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 105, 105);
  width: 100%;
  height: 200px;
  max-width: 200px;
  border-radius: 1rem;
  position: absolute;
  top: 0px;
  left: 200px;
}

.list__item::before {
  content: "";
  display: inline-block;
  background-color: rgb(125, 212, 113);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.link::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 1rem;
  background: url("../tab-icon.ico") 0 0 / 100% 100%;
}

.link:hover::after {
  background: url("../thumbs-up.svg") 0 0 / 100% 100%;
}

.text::first-line {
  color: rgb(79, 167, 86);
}

.text::first-letter {
  color: rgb(202, 90, 90);
}
