* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}
.container {
  min-width: 1220px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.ul__li {
  display: inline-block;
  margin-right: 34px;
}
.ul__link {
  color: #bbbecd;
  text-decoration: none;
}
.ul__link:hover {
  color: #000;
  transition: all 1s;
}
