* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
  color: #fff;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1050px;
  margin: 0 auto;
}
.background {
  background: #252b42;
  background-image: url(../img/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header {
  padding: 30px 0 134px;
}
.header,
.header__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__li:not(:last-of-type) {
  margin-right: 21px;
}
.title {
}
