* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container__form {
  text-align: center;
}
.title {
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 36px;
}
.input,
.buttom {
  max-width: 655px;
  width: 100%;
  height: 69px;
  border-radius: 20px;
  box-sizing: border-box;
}
.input {
  border: 1px solid #000;
  margin-bottom: 36px;
  padding-left: 23px;
}
input,
.input::placeholder,
.button {
  font-size: 36px;
  line-height: 48px;
  color: #000;
}
.input:focus {
  outline-color: aquamarine;
}

.button {
  background-color: #66bb6a;
  border: none;
  color: #fff;
}
.button:hover {
  background-color: #fff;
  border: 1px solid greenyellow;
  color: #66bb6a;
  transition: 2s;
}
.about {
  margin-top: 83px;
}
.line {
  background-color: #f7f7f7;
  height: 2px;
  border: none;
  margin-bottom: 79px;
}
.point {
  background-image: url("../img/media-bg-cover1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 512px;
  width: 100%;
  box-sizing: border-box;
  padding: 39px 0 56px 72px;
  position: relative;
}
.point-pretitle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2.8px;
  margin-bottom: 17px;
  color: #66bb6a;
}
.point-line {
  width: 56px;
  background-color: #fff;
  height: 2px;
  margin-bottom: 61px;
}
.point-title {
  font-size: 31px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 18px;
  max-width: 248px;
}
.point-text {
  font-size: 16px;
  line-height: 24px;
  color: #daefd2;
  margin-bottom: 28px;
  max-width: 248px;
}
.point-btn {
  width: 200px;
  height: 48px;
  background-color: #fff;
  color: #daefd2;
  font-size: 18px;
  line-height: 32px;
  border-radius: 5px;
  border: transparent;
}
.point-btn:hover {
  background-color: #daefd2;
  color: #fff;
  transition: 2s;
}
.about-flex {
  display: flex;
  justify-content: space-between;
}
.sale {
  background-color: rgba(18, 17, 17, 0.4);
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.sale-text {
  color: red;
  font-size: 30px;
  line-height: 30px;
  padding: 7px 14px;
}
