* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container__form {
  text-align: center;
}
.title {
  font-size: 36px;
  line-height: 64px;
  margin-bottom: 36px;
}
.input {
  max-width: 655px;
  width: 100%;
  height: 69px;
  border-radius: 20px;
  border: 1px solid #000;
  margin-bottom: 36px;
  padding-left: 23px;
  box-sizing: border-box;
  font-size: 36px;
  line-height: 48px;
}
